{% extends "base.html.twig" %}

{% block body %}
    <h2 class="text-center">
        Blog sous Symfony 3

        (Voir README.md sur github)

        <p></p>

        <a href="url">https://github.com/Harkame/eApplication-Blog</a>
    </h2>
{% endblock %}