{% extends "base.html.twig" %}

{% block body %}
    <h2 class="text-center">
        {{ 'about.text' | trans }}

        <p></p>

        <a href="https://github.com/Harkame/eApplication-Blog">https://github.com/Harkame/eApplication-Blog</a>
    </h2>
{% endblock %}