{% extends "base.html.twig" %}

{% block title %}AppBundle:Blog:post{% endblock %}

{% block body %}
    <h1>
        {{post[0].title}}
    </h1>
    <p>
        {{ post[0].content }}
    </p>

    <br/>
    <br/>
    <br/>

    Publié le {{ post[0].published | date }}
{% endblock %}
